body {
	font-size: $pageFontSize;
	font-family: $mainFont;
	color: #fff;
	position: relative;
	border: none;
}
html {
	border: none;
}
body.js_pageOverlayOpen {	overflow: hidden;}

body.js_pageOverlayOpen--menu {	
	overflow: hidden;

	@media (min-width: $collapseBefore) {
		overflow: visible;
	}
}

body.white-theme {
  color: #000;
}

html, 
body {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

b,strong { font-weight: bold; }

img {width: 100%; display: block;}
a > img {display: table;}
.pageSection{
	a > img {display: block;}
}
.stock-card__img{display: block;}
ul.disc {
	list-style-type: disc;
	padding-left: 20px;
}
ol.decimal {
	list-style-type: decimal;
	padding-left: 20px;
}

.icomoon + span {margin-left: 5px;}

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.text-right {text-align: right;}
.text-center {text-align: center;}
.bold {font-weight: 700;}
.semi-bold {font-weight: 600; }
.medium {font-weight: 500;}
.light {font-weight: 300; }
.ultra-light {font-weight: 200;}

.primaryColor {color: $primaryColor!important;}

.higlighted {
	&.red {color: $redTextColor!important;}
	&.green {color: $greenTextColor!important;}
	&.primary {color: $primaryColor;}
	&.fourth {color: $fourthColor;}

}


.title {
	font-family: $titleFont;
	& + * {	margin-top: 15px;	}
}

.sub-title {
	margin-top: 10px;
	font-size: 0.6em;
}
.page-title {	font-size: $titleFontSize; }
.section-title { font-size: $sectionTitleFontSize; }
.sectionBlock-title {	font-size: $sectionBlockTitleFontSize; }
.article-title { font-size: $articleTitleFontSize; }
.article-subtitle {	font-size: 17px;}
.title-description { font-size: $descriptionTitleFontSize; }

.list-title {
	& + ul,
	& + ol {margin: 10px 0 0 0;}

	&.label {
		& + ul,
		& + ol {margin: 0 0 0 10px;}
	}
}

// ------
.mainWrapper {
	max-width: $pageMaxWidth;
	margin: 0 auto;
	box-sizing: border-box;
	overflow: hidden;

	background-image: url('/img/background.jpg');
	background-repeat: no-repeat;
	// background-size: 100% 100vh;
	background-attachment: fixed;
}

.mainWrapper:before {
	content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('/img/background.jpg') no-repeat center center;
  background-size: cover;
}
/* .contentWrapper {
	overflow: hidden;
} */
.page {
	background-color: $mainBackgroundColor;
	padding-bottom: 25px;

	background: transparent;
	&.page-links{
		padding-bottom: 0;
	}
	// padding: 0 0 130px 0;
	&:not(.homePage) {
		// margin-top: 140px;
		margin-top: 95px;
		@media screen and (min-width: $collapseBefore) {
			margin-top: 224px;
		}
	}
}

.white-theme .page {
	background-color: #fff;
}

// .page > *:first-child {
// 	padding-top: 20px;
// }

.pageSection,
.mcontainer {
	background-color: inherit;
}

.pageBackgroundWrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -50;
	background-color: $mainBackgroundColor;
}

.wrapperBlock > * {
  width: 100%;
}

.inlineImg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.imgWrapper {
	display: table;
	& > img {display: table-cell;}
}

.js_hidden {
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0!important;
	padding: 0 !important;
	z-index: -100;
}

.slick-slide, .slick-slide:focus {outline: none;}

.shadow {
  box-shadow: 0 1px 2px 0 #E3E3E3;
}

.pusher {flex-grow: 1;}

// ---------Position--------
.relative {position: relative;}
.absolute {position: absolute;}
.absolute.center {
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}
.absolute.stretch {
	top: 0; bottom: 0; left: 0; right: 0;
}

.js_overflowHidden {overflow: hidden;}
.js_fixed {	position: fixed!important; }


// =========Buttons, inputs, links======

.closeIcon {	display: none;}

button.active {
	.openIcon {display: none;}
	.closeIcon {display: block;}
}

button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
}

button:active,
button:focus,
a:focus {
	outline: none;
}

input:focus,
select:focus,
textarea:focus {
	border: 1px solid $formElementsFocusBorderColor;
	outline: none;
	// border-style: solid;
	// border-radius: 0;
}
input,
textarea,
select {
	border: 1px solid $formElementsBorderColor;
	box-sizing: border-box;
	// font-size: 16px;
	padding: 1px 12px;
	width: 100%;

	background: #fff;

	font-family: $mainFont;
	// border-radius: 3px;
	&::placeholder {color: $descriptionTextColor;}

}
textarea {
	padding: 10px 12px;
	font-family: Arial, sans-serif;
}

input:disabled,
textarea:disabled,
select:disabled {
	background: #ddd;
}

input,
textarea,
button,
button>i,
select,
a {
	// cursor: pointer;
	font-size: inherit;
	transition: all ease $formTransitions;
}

button {
	font-family: $mainFont;
}

input, select {
	height: $formElementsHeightMob;

	@media (min-width: $xlLayout) {
		height: $formElementsHeight;
	}
}
// input[type="checkbox"] {
// 	width: 15px;
// 	height: 15px;
// 	margin: 0;

// 	& + label {
// 		margin-bottom: 0;
// 		margin-left: 15px;
// 		width: 90%;
// 	}
// }

.shadowInput { 
	border-color: $primaryColor;
	// border-width: 2px;

	&:focus {
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);					
	}
}

a {
	text-decoration: none;
	color: $linksColor;
}
a.underline {
	text-decoration: underline;
	&:hover {text-decoration: none;}
}
a.standard {
	&:hover {text-decoration: underline;}
}

span.showButton {display: inline-block;}

.row-with-icon,
.link-with-icon {
	transition: none;
	display: flex!important;
	align-items: center;
	span, a, div {
		flex-basis: 80%;
	}

	span {transition: all $linksTransition;}
}

[data-validate] {

	&.js_containsError {
		border-width: 2px;
		border-color: $tertiaryColor;

		&:focus {	border-width: 1px; }
	}
}

ul.js_warning-list {
	text-align: center;
	margin-top: 5px;
	white-space: nowrap;
	li {
		color: $tertiaryColor;
		& + li {margin-top: 3px;}
	}
}

.cb-show-mob {
	display: block;

	@media (min-width: $collapseBefore) {
		display: none;
	}
}

.xs-show-mob {
	display: block !important;

	@media (min-width: $smLayout) {
		display: none !important;
	}
}

.xl-show-mob {
	display: block !important;

	@media (min-width: $xlLayout) {
		display: none !important;
	}
}

.xl-show-mob-f {
	display: flex !important;

	@media (min-width: $xlLayout) {
		display: none !important;
	}
}

.md-show {
	display: none;

	@media (min-width: $mdLayout) {
		display: block;
	}
}

.xl-show {
	display: none;

	@media (min-width: $xlLayout) {
		display: block;
	}
}

.xl-show-f {
	display: none;

	@media (min-width: $xlLayout) {
		display: flex;
	}
}

.links-section{
	margin-top: 60px;
	margin-bottom: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.link-btn{
		margin: 10px 0;
		background-color: $primaryColor;
		min-width: 300px;
		max-width: 301px;
		overflow: hidden;
		cursor: pointer;
		a{
			width: 180px;
			height: 38px;
			font-size: 14px;
			line-height: 38px;
			font-weight: 600;
			padding: 10px 20px;
			text-transform: uppercase;
			cursor: pointer;
			word-wrap: none;
			color: $fourthColor;
		}
	}
	@media (min-width: 768px) {
		margin-top: 125px;
		margin-bottom: 0px;
		.link-btn{
			&:hover{
				background-color: $fourthColor;
				a{
					color: #fff;
				}
			}
		}
	}
}

@keyframes animation-icon_line-one {
	0%{opacity: .3;}
	25%{opacity: 1;} 
	50%{opacity: .3;}
	75%{opacity: .3;}
	100%{opacity: .3;}
}
@keyframes animation-icon_line-two {
	0%{opacity: .3;}
	25%{opacity: .3;} 
	50%{opacity: 1;}
	75%{opacity: .3;}
	100%{opacity: .3;}
 }
 @keyframes animation-icon_line-three {
	0%{opacity: .3;}
	25%{opacity: .3;} 
	50%{opacity: .3;}
	75%{opacity: 1;}
	100%{opacity: .3;}
 }
 
 [data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.add-to-cart--with-guaranty{
  margin-right: 30px;
  @media (min-width: 768px) {
    margin-right: 0;
  }
}
.add-to-cart--with-guaranty + .sticker{
  margin-right: 15px;
  @media (min-width: 768px) {
    margin-right: 0;
  }
}
/* ======Media Queries===== */

@media (min-width: 991px) {
	.page-title {	font-size: $titleFontSizeLaptop;}
	.section-title {	font-size: $sectionTitleFontSizeLaptop;	}
	.article-title { font-size: $articleTitleFontSizeLaptop; }

}


@media (min-width: 1279px) {
	.page-title {	font-size: $titleFontSizeDesktop;}
	.section-title {font-size: $sectionTitleFontSizeDesktop;}
	.article-title { font-size: $articleTitleFontSizeDesktop; }

}
